.barPurple{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(226,145,255,1) 35%, rgba(154,4,208,1) 100%); 
}
.barBlue{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(145,175,255,1) 35%, rgba(0,18,205,1) 100%); 
}
.barGray{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(162,162,162,1) 35%, rgba(94,94,94,1) 100%); 
}
.barDarkGray{
    background: rgb(162,162,162);
    background: linear-gradient(90deg, rgba(162,162,162,1) 24%, rgba(94,94,94,1) 100%); 
}
.numberColorPurple{
    color:hsl(284,80%,42%);
}
.numberColorBlue{
    color:hsl(224,80%,50%)
}